header {
    height: 60px;
    border: 1px dashed red;
    background-color: #7633F9;
}

footer {
    height: 300px;
    border: 1px dashed green;
    background-color: #F8F9FA;
}

main {
    height: 1000px;
    border: 1px dashed blue;
}

.b_tbdr {
    border: 1px dashed black;
}

.tbdr {
    border: 1px dashed red;
}